# Virtual environments
venv/

# Python cache
__pycache__/
*.pyc

# Runtime generated data
data/consumer/
data/consumer-slow/

# Home Assistant runtime database
data/homeassistant/.storage/
data/homeassistant/.cache/
data/homeassistant/backups/
data/homeassistant/*.db
data/homeassistant/*.log

# Node-RED runtime modules
data/nodered/node_modules/

# Logs
*.log